**/.idea/
**/cmake-build-*/
/build/
/dist/
/deps/
*.user
*.log
/install/
/CMakeUserPresets.json
/exports/
__pycache__/
*.pyc
**/.gradle/
**/.kotlin/
/gradle-plugin/build/
/examples/kotlin-mod/build/
/local-notes/
/kotlin-client/build/

# Isolated CI dependencies
.ci/

.release-plan.json

dist/

nrf-package-*/
